body {
  /* background-color: #f5f5dc; */
  background-color: #fff;
}
.box1 b {
  font-size: 5vh;
  color: #fff;
}
.box1 {
  background-color: #1e90ff;
  text-align: center;
  height: 10vh;
  width: 100%;
  /* vertical-align: middle; */
  display: table;
}
#tetete {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
}
/* .inner button {
  border-radius: 3px;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 160px;
  padding: 10px 25px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 500;
} */
/* .inner button:hover {
  background: #313131;
  color: #fff;
} */
.time {
  text-align: center;
  display: flex;
  margin-top: 0;
}
.time .box {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.box {
  position: relative;
  width: 80vw;
}
.Selection {
  align-items: center;
  font-size: xx-large;
  color: #313131;
  position: relative;
  text-align: center;
  margin-top: 20px;
}
.selection {
  display: flex;
  margin: 0 auto;
  width: 90vw;
  height: 12vh;
  text-align: center;
  align-items: center;
  font-size: 5.5vh;
}
select {
  text-align: center;
  appearance: none;
}
.StartSelection select {
  width: 40vw;
  height: 5.5vh;
  font-size: 5vh;
  border: #313131 solid 0.1vh;
}
option {
  font-size: 1vh;
}
.GoalSelection select {
  width: 40vw;
  height: 5.5vh;
  font-size: 5vh;
  border: #313131 solid 0.1vh;
}
.time {
  height: 10vh;
}
.time input {
  position: relative;
  margin-right: 3%;
  width: 65vw;
  height: 7vh;
  font-size: 5vh;
  text-align: center;
  font-weight: bold;
  border: #313131 solid 0.1vh;
}
.box a {
  margin: 0;
  width: 15vw;
  height: 7vh;
  background-color: #1e90ff;
  border-radius: 2vh;
  font-size: 5vh;
}
.fa-sharp {
  color: #fff;
}
i {
  color: #1e90ff;
}
.search {
  position: relative;
  margin-top: 20px;
  text-align: center;
}
.button001 {
  height: 5vh;
}
.button001 a {
  width: 60vw;
  height: 3vh;
  font-size: 3vh;
  border-radius: 3px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  /* max-width: 220px; */
  padding: 10px 25px;
  color: #fff;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: #1e90ff;
  text-decoration: none;
}
.value {
  font-size: 3vh;
  margin-top: 10vh;
  text-align: center;
  color: darkgray;
}
#result1 {
  height: 10vh;
  margin-top: 10vh;
  background: #1e90ff;
}
#result2 {
  height: 10vh;
  margin-top: 5vh;
  background: #1e90ff;
}
#result3 {
  height: 10vh;
  margin-top: 5vh;
  background: #1e90ff;
}
#result4 {
  font-size: 3vh;
  margin-top: 10vh;
  text-align: center;
  display: block;
}
.element1 {
  display: flex;
  width: 82.6vw;
  height: 10vh;
  align-items: center;
  margin: 0 auto;
}
.element2 {
  display: flex;
  width: 82.6vw;
  height: 10vh;
  align-items: center;
  margin: 0 auto;
}
.element3 {
  display: flex;
  width: 82.6vw;
  height: 10vh;
  align-items: center;
  margin: 0 auto;
}
.msg1 {
  text-align: center;
  width: 20vw;
  font-size: 6vh;
}
.msg3 {
  text-align: center;
  width: 20vw;
  font-size: 6vh;
}
.msg4 {
  text-align: center;
  width: 20vw;
}
.msg5 {
  text-align: center;
  width: 20vw;
}
.msg6 {
  text-align: center;
  width: 20vw;
}
.msg7 {
  text-align: center;
  width: 20vw;
}

#msg1 {
  font-size: 5vh;
  color: #fff;
  font-weight: bold;
}
#msg2 {
  font-size: 7vh;
  color: #fff;
  font-weight: bold;
}
#msg3 {
  font-size: 5vh;
  color: #fff;
  font-weight: bold;
}
#msg4 {
  font-size: 5vh;
  color: #fff;
  font-weight: bold;
}
#msg5 {
  font-size: 5vh;
  color: #fff;
  font-weight: bold;
}
#msg6 {
  font-size: 5vh;
  color: #fff;
  font-weight: bold;
}
#msg7 {
  font-size: 5vh;
  color: #fff;
  font-weight: bold;
}
p {
  text-align: center;
}
pre {
  text-align: center;
}

/* .button001 a:hover {
  background: rgb(117, 188, 255);
  background: linear-gradient(
    270deg,
    rgba(117, 188, 255, 1) 0%,
    rgba(62, 159, 252, 1) 100%
  );
} */

.loading {
  margin-top: 10vh;
  height: 30vh;
}
.loading .circle {
  display: block;
  position: relative;
  top: calc(50% - 20px);
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border: 7px solid rgb(149, 202, 252);
  border-top: 7px solid #fff;
  border-radius: 50px;
  animation: loading 700ms linear 0ms infinite normal both;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
img {
  width: 60vw;
  height: auto;
}
#result4 .img {
  text-align: center;
}
